ul {
  list-style: none;
  margin: 0;
}

img {
  padding: 0px 0px 0px 16px;
  align-self: center;
}

h4 {
  margin: 0;
  font-weight: bold;
}

.row {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0px;
}

.right {
  display: flex;
}

/* TODO - Switch position of image and game mode
based on location of module on screen */
