ul {
  list-style: none;
}

img {
  padding: 16px 0px 16px 16px;
}

.row {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

/* TODO - Switch position of image and game mode
based on location of module on screen */
